
<div class="container">

    <h1>Upload your food item specification file here</h1>

    <form class="file-upload-form" enctype="multipart/form-data" name="vm.pdfUploadForm" method="post">

        <div class="form-group">

            <!-- <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="vm.email"> -->


            <label for="exampleFormControlFile1">Example file input: yourFoodItem.pdf</label>


            <input type="file" class="form-control-file" ngf-select ng-model="pdfFile">

            <button type="submit" class="btn btn-primary" ng-click="vm.parsePdf(pdfFile)">Submit</button>

            <button type="submit" class="btn btn-primary" ng-click="vm.viewProducts()">View Products</button>
        </div>

    </form>

</div>
